.description {
  white-space: pre-wrap;
}

table.summary th {
  background-color: #f0f0f0;
}

ul.strategies {
	list-style: none;
	padding: 0;
}

ul.strategies li h5 {
	background-color: #f5f5f5;
	padding: 10px;
}

ul.strategies li h5 span {
	float: right;
	font-weight: normal;
}

ul.strategies li p {
	margin: 1em 20px;
}

.breadcrumb-aside {
	float: right;
}

.breadcrumb > li.breadcrumb-aside:before {
	content: '';
}