pre.source {
  font-size: 11px;
  background-color: #fff;
}

pre.source code {
  white-space: inherit;
}

/* Line numbering */
pre.source:before {
  counter-reset: listing;
}

pre.source code {
  counter-increment: listing;
}

pre.source code::before {
  content: counter(listing) " ";
  display: inline-block;
  width: 4em;
  padding-left: auto;
  margin-left: auto;
  text-align: right;
  color: rgba(27,31,35,0.6);
}

/* Highlighted line */
pre.source code.highlight {
  background-color: #fffbdd;
}
