<!doctype html>
<html ng-app="xdoc">
  <head>
    <title>Stratego API Documentation</title>

    <link rel="icon" href="favicon.ico"/>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="style/global.css"/>
    <link rel="stylesheet" href="style/module.css"/>
    <link rel="stylesheet" href="style/source.css"/>
    <link rel="stylesheet" href="style/search.css"/>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-resource.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-route.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    
    <script src="app.js"></script>
    <script src="controller/PackageController.js"></script>
    <script src="controller/ModuleController.js"></script>
    <script src="controller/SearchController.js"></script>
    <script src="controller/SourceController.js"></script>
  </head>

  <body>
    <div class="container">
      <input
        type="search"
        id="search"
        placeholder="Click 'S' to search"
        ng-model="query"
        ng-change="search()"
        ng-model-options='{debounce: 200}'/>
      
      <div class="row">
        <div class="col-md-8">
            <div ng-view></div>
        </div>
        <div class="col-md-4">
            <ul>
                <li ng-repeat="package in packages">
                    {{package.name}}
                    <ul>
                        <li ng-repeat="module in package.modules">
                            <a ng-href="#/module/{{module}}">{{module.substr(package.name.length+1)}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
  </body>
</html>